/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.test{border: 3px solid red;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, button, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans', sans-serif;
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	padding-right: 20px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
.current {
	color: black;
	font-weight: 800;
}
/** CSS de la barre d'édition */
.edit-mode{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: #FFFFFF;
}
.editing{
	padding: 10px;
}
.publish{
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
}
/** CSS de l'introduction */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction a.figure {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
/** CSS du portfolio */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.portfolio-title{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}
.modifier-button{
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: black;
	cursor: pointer;
}
#filter-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
}
.filter{
	box-sizing: border-box;
	background-color: #FFFFFF;
	color: #1D6154;
	width: 174px;
	height: 36px;
	border: 3px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}
.active{
	background-color: #1D6154;
	color: #FFFFFF;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
/** CSS de la modale de modification **/
.modal-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.modal-container.displayed{
	display: block;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 200%;
	background: #0000004d;
}
.modal{
	position: absolute;
	top: 10%;
	left: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	width: 95%;
	max-width: 630px;
	background: #FFF;
}
.modal2{
	position: absolute;
	top: 10%;
	left: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	width: 95%;
	max-width: 630px;
	background: #FFF;
}
.title-modal{
	font-family: 'Work Sans', sans-serif;
	padding: 50px 30px;
	color: black;
	font-size: 30px;
	font-weight: 300;
}
.gallery-modal{
	position: relative;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(5, 20%);
	grid-auto-rows: 120px;
	width: 70%;
	height: fit-content;
}
.add-photo-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.preview{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.photo-input-field{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #E8F1F6;
	width: 420px;
	height: 170px;
}
.photo-input-button{
	background: #B9C5CC;
	color: #306685;
	min-width: 150px;
	text-align: center;
	border-radius: 60px;
	padding: 10px;
	cursor: pointer;
}
.frame-picture{
	font-size: 60px;
	color: #B9C5CC;
}
.title-input-field{
	display: flex;
	flex-direction: column;
	width: 420px;
	padding: 20px;
}
.category-input-field{
	display: flex;
	flex-direction: column;
	width: 420px;
	padding: 20px;
}
.form-button.inactive{
	background: #A7A7A7;
	border: none;
	pointer-events: none;
}
.close-modal{
	padding: 10px 10px;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.return-arrow{
	padding: 10px 10px;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.modal-separate-bar{
	background: #B3B3B3;
	width: 60%;
	height: 3px;
	margin: 17px;
}
.delete-link{
	color: #B1663C;
	text-decoration: underline;
	padding: 10px;
	cursor: pointer;
}
/** CSS du formulaire de contact */
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
/** CSS de la login-page */
.login-page{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 30px;
}
.login-title{
	font-family: 'Syne', sans-serif;
	font-size: 30px;
	font-weight: 700;
	padding: 20px;
}
.login-form{
	display: flex;
	flex-direction: column;
	place-content: space-evenly;
}
.form-field{
	box-sizing: border-box;
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-field-div{
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 0, 0.09);
	padding: 20px;
}
.form-button{
	background-color: #1D6154;
	color: #FFFFFF;
	min-width: 150px;
	text-align: center;
	border: 3px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	margin: 20px;
	cursor: pointer;
}
.forgottenPasswordLink{
	padding: 20px;
	color: black;
	text-align: center;
	text-decoration: underline;
}
/** CSS du footer*/
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
